@font-face {
	font-family: 'acvarela';
	src: url('../fonts/ACVarela/ACVarela.ttf');
}
@font-face {
	font-family: 'Barlow Condensed';
	src: url('../fonts/BarlowCondensed/BarlowCondensed-Regular.ttf');
}